.SideBarComponent{
    width: 100%;
}


.collapsible .content {
    padding: 0%;
    background-color: #eeeeee;
}
.collapsible .header {
    background-color: #dddddd;
    padding: 0%;
    cursor: pointer;
}


.CohortProjList_class{
    margin-bottom: 3%;
    padding-left: 0%;
}

.CohortProjList_class_head{
    font-size: 1rem;
}

.CohortProjList_class_new{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 2%;

}